:root {
    --MainColor: #00248B;
    --Background: #dbdbdb;
    --CardColor: white;
}

*{
    font-family: 'Poppins', sans-serif;
}

.bg-default{
    background-color: var(--Background);
}
/*---Header---*/

#search-bar:focus{
    outline: none;
    box-shadow: none;
    border: none;
}


#searchBtn:focus{
    outline: none;
    box-shadow: none;
}

.btn{
    background-color:#e2e2e2;
}

.btn:hover{
    background-color:#b8b8b8;
}

.header-color{
    background-color: var(--MainColor);
}

/*---Boxes---*/
.audioBtn{
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.2rem
}

@media(min-width: 768px){
    .search-input{
        width: 40%;
    }
}
