:root {
    --MainColor: #00248B;
    --Background: #dbdbdb;
    --CardColor: white;
}

*{
    font-family: 'Poppins', sans-serif;
}

.bg-default{
    background-color: var(--Background);
}
/*---Header---*/

#search-bar:focus{
    outline: none;
    box-shadow: none;
    border: none;
}


#searchBtn:focus{
    outline: none;
    box-shadow: none;
}

#searchBtn{
    background-color:#e2e2e2;
}

#searchBtn:hover{
    background-color:#b8b8b8;
}

.header-color{
    background-color: var(--MainColor);
}

/*---Boxes---*/
.audioBtn{
    background-color: white;
    border: none;
    cursor: pointer;
    margin: 0 1rem;
    padding: 0.2rem
}

/*--Accordion--*/
.accordion.active .accordionText{
    display: block;
    background-color: #f3f3f3;
}

.accordion.active .accordionLabel::before{
    position: relative; 
    content: '-';
    left: 95%;
}

.accordionLabel {
    cursor: pointer;
    background-color: #f3f3f3;
}

.accordionLabel:hover {
    background-color: #d6d6d6;
}

.accordionLabel::before {  
    position: relative; 
    content: '+';
    left: 95%;
}

.accordion .accordionText {
    display: none;
}

@media(min-width: 768px){
    .search-input{
        width: 40%;
    }
}
